.postItem {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px solid #dadada;
}

.postItem_image {
  width: 40%;
}

.postItem_info {
  width: 55%;
  position: relative;
}

.postItem_title {
  font-size: 28px;
  margin-bottom: 20px;
}

.postItem_excerpt {
  color: #777;
}

.postItem_read {
  position: absolute;
  right: 0;
  bottom: 0;
  text-decoration: underline;
}

.postItem_read:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  .postItem {
    padding: 20px 0;
  }

  .postItem_title {
    line-height: 1.4;
    font-size: 20px;
    margin-bottom: 5px;
  }

  .postItem_excerpt {
    margin: 5px 0;
    line-height: 1.2;
  }

  .postItem_read {
    font-size: 12px;
  }
}
