.post_container {
  padding: 50px 0;
}

.post_date {
  color: #777;
  font-size: 14px;
}

.post_title {
  margin-bottom: 15px;
}

.post_eyecatch {
  margin-bottom: 20px;
}

.post_body {
  margin-bottom: 50px;
}

.post_date:nth-of-type(1) {
  margin-right: 10px;
}
